<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tl.oauth2.mapper.CapUserMapper">
  <resultMap id="BaseResultMap" type="com.tl.oauth2.domain.CapUser">
    <!--@mbg.generated generated on Sat Nov 30 23:48:59 CST 2019.-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat Nov 30 23:48:59 CST 2019.-->
    id, user_id, user_name, user_email, user_password
  </sql>
</mapper>